.picture-container {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;

  &--profile-image {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &.isNameContainer {
    border-radius: 12px;
    background: var(--new-2, linear-gradient(131deg, #8a63f4 0%, #b090ff 100%));
  }
  &--profile-name {
    font-size-adjust: 0.58;
    color: white;
    font-size: 1vw;
    text-decoration: none;
  }
}



@media only screen and (max-width: 1100px) {
  .picture-container {
  &--profile-image{
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
  }
}
}
