$animation-duration: 0.3s;

.modal-container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity $animation-duration, visibility $animation-duration;
  // background-color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  &.visible {
    opacity: 1;
    visibility: visible;
  }
  &__inner {
    background-color: white;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1000;
  }
  &__bold-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: capitalize;

    color: #000000;
  }
  &__small-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #979797;
  }
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  background: linear-gradient(132.98deg, #faf7fa 1.8%, #eff0f1 78.48%);
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  display: flex;
  cursor: pointer;
}

@media (min-width: 600px) {
  .modal-container {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
  }
}
