@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body,
html {
  height: 100%;
  background-color: #f3f8f9;
  margin: 0;
  padding: 0;
}
body{
  position: relative;
  overflow-x: hidden;
}
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  font-family: 'Inter', sans-serif;
  
}
